{% extends "dashboard/master.html" %}
{% csrf_token %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
<div class="mb-4 bg-gray-200  pl-36">
    <h2 class="text-2xl ">Menu</h2>
    <span class="">メニュー</span>
</div>
<div class="pl-36 pb-5 pt-6">
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="{% url "event" %}" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            イベント登録
        </a>
        <p class="text-center">イベントの登録、修正、削除をおこないます。</p>
    </div>
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="{% url "participant" %}" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            参加者登録
        </a>
        <p class="text-center">指定したイベントの参加者を登録します。認証用の画像もここで登録可能です。</p>
    </div>
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="{% url "reception:index" %}" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            受付処理
        </a>
        <p class="text-center">開催中のイベントで受付情報処理を行います。顔認証、QRコードでの処理が可能です。</p>
    </div>
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            入退館
        </a>
        <p class="text-center">参加者毎の入館、たいかん時間を確認できます。また、各時間の修正も可能です。</p>
    </div>
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            参加者登録
        </a>
        <p class="text-center">受付時に表示するメッセージを登録します。</p>
    </div>
    <div class="grid grid-cols-2 gap-2 items-center justify-center mb-10">
        <a href="" class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-49 h-12 flex items-center justify-center dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 ml-24">
            参加者登録
        </a>
        <p class="text-center">受付状態をリアルタイムで表示します。</p>
    </div>
</div>

</div>
{% endblock content %}