{% extends "dashboard/master.html" %}
{% load static %}

{% block title %}Reception Status Monitoring{% endblock title %}

{% block content %}

{% block css %}
<style>
    .participantCard {
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }

    .participantCard h4 {
        font-size: 1.7rem;
    }

    .participantCard p {
        font-size: 1.6rem;
    }

    .participantCard .badge {
        font-size: 1.5rem;
    }

    .custom-select-option {
        font-size: 1.1rem;
        padding: 1rem;
    }

    .participantsContainer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 50;
        padding: 5px;
        overflow-y: auto;
    }
</style>
{% endblock css %}

<!-- Container -->
<div class="mb-4 bg-gray-200 px-12 py-5">
    <h2 class="text-2xl">Reception Status Monitoring</h2>
    <span class="text-sm text-gray-600">受付状況モニタリング</span>
</div>

<div class="px-12 py-5">
    <!-- Event and Monitoring Controls -->
    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center flex-grow mr-4">
            <label for="event"
                class="mr-2 font-medium text-[20px] text-gray-700 w-[100px]">イベント
                : </label>
            <select id="event" name="event"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full custom-select-option">
                {% for event in events %}
                <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex items-center">
            <button id="monitorButton"
                class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">モニタリング</button>
        </div>
    </div>

    <!-- Participants Container -->
    <div id="participantsContainer" class="participantsContainer hidden">
        <div class="grid grid-cols-3 gap-4 px-4 py-2 bg-white">
            <div class="text-blue-500">
                <span class="font-extrabold text-md">専門学校</span>
                <h2 class="font-extrabold text-2xl leading-tight">メトロ IT
                    ビジネスカレッジ</h2>
            </div>

            <div class="text-center flex items-center justify-center">
                <span class="text-[30px] font-bold">AI開発チーム</span>
            </div>

            <div class="text-right flex items-center justify-end">
                <span id="currentDateTime"
                    class="font-bold text-gray-700"></span>
            </div>
        </div>
        <div class="flex justify-between items-center mb-4 py-5">
            <h3 class="text-xl text-gray-700">参加者リスト</h3>
            <button id="closeParticipantsContainer"
                class="text-red-600 hover:text-red-800">
                閉じる
            </button>
        </div>
        <div id="participantsList"
            class="grid grid-cols-4 gap-[50px] items-center justify-center py-[100px]">

        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    let socket;
    let currentChunk = 0;
    let participantsChunks = [];
    let intervalId;
    let participantId;
    let newStatus;
    let participantDiv;

    document.getElementById('monitorButton').addEventListener('click', function () {
        const eventId = document.getElementById('event').value;

        if (eventId) {
            const url = `/p-hub-admin/participants/${eventId}/`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    participantsChunks = chunkArray(data.participants, 16);
                    currentChunk = 0;
                    displayParticipantsChunk();

                    document.getElementById('participantsContainer').classList.remove('hidden');

                    socket = new WebSocket(`wss://${window.location.hostname}:8833/ws/attendance/monitor/`);

                    socket.onopen = function (event) {
                        console.log('WebSocket connection opened');
                    };

                    socket.onmessage = function (event) {
                        console.log('Received WebSocket message:', event.data);
                        const data = JSON.parse(event.data);
                        console.log('Parsed data:', data);

                        // Ensure data.status is a string
                        let status = typeof data.status === 'string' ? data.status : String(data.status);

                        if (status === 'True') {
                            status = 'entry';
                        } else {
                            status = 'leave';
                        }

                        participantId = data.participant_id;
                        newStatus = status;
                        console.log('Status update:', status);

                        // Update the participant status
                        updateParticipantStatus(participantId, newStatus);
                    };

                    socket.onerror = function (error) {
                        console.error('WebSocket error:', error);
                    };

                    socket.onclose = function (event) {
                        console.log('WebSocket connection closed:', event);
                    };

                    if (intervalId) {
                        clearInterval(intervalId);
                    }
                    intervalId = setInterval(() => {
                        currentChunk = (currentChunk + 1) % participantsChunks.length;
                        displayParticipantsChunk();
                    }, 3000);
                })
                .catch(error => {
                    console.error('Error fetching participants:', error);
                });
        }
    });

    document.getElementById('closeParticipantsContainer').addEventListener('click', function () {
        document.getElementById('participantsContainer').classList.add('hidden');
        if (socket) {
            socket.close();
        }
        if (intervalId) {
            clearInterval(intervalId);
        }
    });

    function updateDateTime() {
        const now = new Date();
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
        document.getElementById('currentDateTime').textContent = now.toLocaleDateString('ja-JP', options);
    }

    updateDateTime();
    setInterval(updateDateTime, 1000);

    function chunkArray(array, chunkSize) {
        const chunks = [];
        for (let i = 0; i < array.length; i += chunkSize) {
            chunks.push(array.slice(i, i + chunkSize));
        }
        return chunks;
    }

    function displayParticipantsChunk() {
        const participantsList = document.getElementById('participantsList');
        participantsList.innerHTML = '';

        participantsChunks[currentChunk].forEach(participant => {
            const participantDiv = document.createElement('div');
            participantDiv.className = 'participantCard';
            participantDiv.dataset.participantId = participant.id;

            participantDiv.innerHTML = `
            <h4 class="text-lg font-medium">${participant.name}</h4>
            <p class="text-sm">番号: ${participant.seat_no}</p>
            <span class="badge ${participant.status}">${participant.status.charAt(0).toUpperCase() + participant.status.slice(1)}</span>
        `;

            // Apply color based on the status
            if (participant.status === 'entry') {
                participantDiv.classList.add('bg-green-200');
            } else if (participant.status === 'leave') {
                participantDiv.classList.add('bg-orange-200');
            } else {
                participantDiv.classList.add('bg-gray-200');
            }

            participantsList.appendChild(participantDiv);
        });
    }

    function updateParticipantStatus(participantId, newStatus) {
        participantsChunks.forEach(chunk => {
            chunk.forEach(participant => {
                if (participant.id === parseInt(participantId)) {
                    participant.status = newStatus;
                }
            });
        });

        displayParticipantsChunk();
    }
</script>
{% endblock script %}
