<div class="px-2 py-1 bg-white flex justify-between items-center">
    <div class="text-blue-500 ">
        <span class="font-extrabold text-md">専門学校</span>
        <h2 class="font-extrabold text-2xl dela-gothic-one-regular leading-[1]">メトロ IT ビジネスカレッジ</h2>
    </div>
    <div class="relative">
        <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                </path>
            </svg>
        </div>
        <div
            class="z-10 right-2  absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                    <form method="post"  action="/p-hub-admin/logout/">
                        {% csrf_token %}
                        <button type="submit"
                     
                        class="block px-4 py-2 w-full hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>