{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}?{% now 'U' %}">
    <script src="{% static 'js/mediapipe.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/app.js' %}?{% now 'U' %}"></script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        #video {
            display: none;
        }
    </style>
</head>

<body>
    <video id="video" autoplay muted></video>
    <canvas id="canvas"></canvas>

    <script>
        const canvasElement = document.getElementById('canvas');
        const canvas = new fabric.Canvas('canvas');
        const video = document.getElementById("video");

        function resizeCanvas() {
            canvas.setWidth(window.innerWidth);
            canvas.setHeight(window.innerHeight);
        }

        window.addEventListener('resize', resizeCanvas);
        resizeCanvas();

        // Function to update the fabric image with the current video frame
        function updateWebcamImage() {
            const webcam = new fabric.Image(video, {
                left: canvas.width / 2,
                top: canvas.height / 2,
                originX: 'center',
                originY: 'center',
                objectCaching: false,
                selectable: false
            });

            canvas.clear();
            canvas.add(webcam);
            webcam.moveTo(0); // Move webcam element to back of zIndex stack
        }

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.onloadedmetadata = function () {
                        video.play();
                        updateWebcamImage();
                        fabric.util.requestAnimFrame(render);
                    };
                })
                .catch(function (error) {
                    console.error('Error accessing webcam:', error);
                });
        } else {
            console.error('getUserMedia not supported on your browser!');
        }

        function render() {
            updateWebcamImage();
            canvas.renderAll();
            fabric.util.requestAnimFrame(render);
        }
    </script>
</body>

</html>
