{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}?{% now 'U' %}">
    <script defer src="{% static 'js/app.js' %}?{% now 'U' %}"></script>
</head>

<body>
    <div class="grid grid-cols-12 h-screen" x-data="settings">
        <div class="col-span-2 bg-slate-50 text-slate-500">
            <h1 class="text-center py-2 text-3xl font-extrabold">受信設定</h1>
            <hr>
            <ul class="space-y-3">
                <li class="px-3 py-2 " x-bind:class="{'bg-slate-100' : currentPage === pages.AI_MODEL}">
                    <button @click="page(pages.AI_MODEL)" class="flex items-center space-x-3 text-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class=" size-8">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
                        </svg>
                        <span class="font-bold">AIモデル</span>
                    </button>
                </li>
                <li class="px-3 py-2" x-bind:class="{'bg-slate-100' : currentPage === pages.ALERT_CONTROL}">
                    <button @click="page(pages.ALERT_CONTROL)" class="flex items-center space-x-3 text-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-8">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                        </svg>

                        <span class="font-bold">アラート操作</span>
                    </button>
                </li>
                <li class="px-3 py-2" x-bind:class="{'bg-slate-100' : currentPage === pages.TIME_CONTROL}">
                    <button @click="page(pages.TIME_CONTROL)" class="flex items-center space-x-3 text-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-8">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <span class="font-bold">時間操作</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-span-10 flex flex-col justify-between">
            <div>
                <div x-transition:enter.duration.500ms x-show="currentPage === pages.AI_MODEL">
                    <div>
                        <h2 class="text-3xl px-4 py-3">AIモデル</h2>
                        <hr class="shadow-sm">
                    </div>
                    <form autocomplete="off" class="px-4 py-3 grid grid-cols-4 gap-4">
                        <div>
                            <label for="face_confidence" title="face confidence"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white ">
                                顔の最小信頼度</label>
                            <input type="number" id="face_confidence" x-model.number="data.faceDetectionConfidence"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Face Confidence" />
                        </div>
                        <div>
                            <label for="face_fps"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">フェイスFPS</label>
                            <input type="number" id="face_fps" x-model.number="data.faceFPS"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Face FPS" />
                        </div>
                        <div>
                            <label for="max_face_fail_count"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">最大顔認識失敗回数</label>
                            <input type="number" id="max_face_fail_count"
                                x-model.number="data.faceRecognizationFailCount"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Max Face Recognization Fail Count" />
                        </div>
                        <div>
                            <label for="hand_confidence"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">手の信頼度</label>
                            <input type="number" id="hand_confidence" x-model.number="data.handDetectionConfidence"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Hand Confidence" />
                        </div>
                        <div>
                            <label for="hand_fps"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">手の映像生成速度</label>
                            <input type="number" id="hand_fps" x-model.number="data.handFPS"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Hand FPS" />
                        </div>
                    </form>
                </div>
                <div x-transition:enter.duration.500ms x-show="currentPage === pages.ALERT_CONTROL">
                    <h2 class="text-3xl px-4 py-3">アラート操作</h2>
                    <hr class="shadow-sm">
                    <form autocomplete="off" class="px-4 py-3 grid grid-cols-4 gap-4">
                        <div>
                            <label for="qr_error_alert_duration"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">QRコードエラーアラート時間</label>
                            <input type="number" id="qr_error_alert_duration" x-model.number="data.qrErrorAlertDuration"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter QR Alert Durtaion" />
                        </div>
                        <div>
                            <label for="qr_error_message"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">QRコードエラーメッセージ</label>
                            <input x-model="data.qrErrorMessage" type="text" id="qr_error_message"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter Error Message" />
                        </div>
                    </form>
                </div>
                <div x-transition:enter.duration.500ms x-show="currentPage === pages.TIME_CONTROL">
                    <h2 class="text-3xl px-4 py-3">時間操作</h2>
                    <hr class="shadow-sm">
                    <form autocomplete="off" class="px-4 py-3 grid grid-cols-4 gap-4">
                        <div>
                            <label for="time_locale"
                                class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">時間のロケール</label>
                            <input type="text" id="time_locale" x-model.number="data.timeLocale"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Time Locale" />
                        </div>

                    </form>
                </div>
            </div>
            <div class="border border-t class py-4 px-3 text-end shadow-sm">
                <button type="button" @click="update"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Update</button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("alpine:init", () => {
            const data = JSON.parse(window.localStorage.getItem("settings")) || JSON.parse(window.localStorage.getItem("defaultSettings"))

            Alpine.data("settings", () => ({
                currentPage: null,
                data,
                pages: {
                    "AI_MODEL": "ai",
                    "ALERT_CONTROL": "alert",
                    "TIME_CONTROL": "time"
                },
                init() {
                    const url = new URL(window.location.href)
                    const searchParams = new URLSearchParams(url)
                    const page = Object.values(this.page).find(p => p === searchParams.get("page"))
                    this.currentPage = page || this.pages.AI_MODEL
                    url.searchParams.set("page", this.currentPage);
                    window.history.replaceState(null, '', url.toString());
                },
                update() {

                    window.localStorage.setItem("settings", JSON.stringify(this.data))
                    Toastify({
                        text: "設定の更新が成功しました。",
                        duration: 3000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "green",
                            fontSize: '25px',
                            borderRadius: "5px"
                        },
                    }).showToast();
                },
                page(value) {
                    this.currentPage = value
                    const url = new URL(window.location.href);
                    url.searchParams.set("page", value);
                    window.history.replaceState(null, '', url.toString());
                }
            }))
        })
    </script>
</body>

</html>