<!-- participant_management.html -->
{% extends "dashboard/master.html" %}
{% load static %}

{% block title %}Participant Management{% endblock %}

{% block content %}
<!-- Container -->

<div class="mb-4 bg-gray-200 px-1 py-5">
    <h2 class="text-2xl">PARTICIPANT</h2>
    <span>Participants List</span>
</div>

<div class="px-5 py-5">


    <!-- Events Dropdown -->
    <div class="mb-4 flex items-center">
        <label for="events" class="mr-2 text-sm font-medium text-gray-700">Select Event:</label>
        <select id="events" name="event"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 lg:w-1/2">
            {% for event in events %}
            <option value="{{ event.id }}">{{ event.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- New Participant Button -->
    <div class="mb-4">
        <button id="openModal"
            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register
            New Participant</button>
    </div>

    <!-- Register Modal -->
    <div id="participantModal" x-data="participantModal"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
        <form class="bg-white p-5 rounded-lg w-full sm:w-2/3" enctype="multipart/form-data" x-clover-form="submit"
            action="{% url 'participant' %}" method="post">
            {% csrf_token %}
            <div class="bg-blue-500 px-4 py-4">
                <h3 class="text-xl mb-4 text-white pt-3">Register New Participant</h3>
            </div>
            <div class="flex flex-wrap -mx-2">
                <!-- Image Container -->
                <div class="w-full sm:w-1/3 p-2 pt-5">
                    <div id="imageContainer" name="imageContainer"
                        class="border border-gray-300 h-[400px] flex items-center justify-center">
                        <img id="capturedImage" name="capturedImage" class="h-full w-full object-cover"
                            src="{% static 'common/Rosie.jpg' %}">
                    </div>
                    <div class="mt-2 flex flex-col items-center space-y-2 py-7">
                        <button id="cameraButton" type="button"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="initCamera">Camera</button>
                        <canvas id="captureCanvas" class="hidden"></canvas>
                        <button id="captureButton" type="button" name="profile"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="captureImage" :disabled="!isCameraReady">Capture</button>
                        <input type="file" id="fileInput" name="fileInput" accept="image/*" class="hidden"
                            x-ref="fileInput" @change="uploadImage($event)">
                        <button type="button"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="$refs.fileInput.click()">Upload Image</button>
                        <button id="deleteImage" type="button"
                            class="text-red-600 bg-red-300 hover:bg-red-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="deleteImage">Delete Image</button>
                    </div>
                </div>

                <!-- Input Fields -->
                <div class="w-full sm:w-2/3 p-2 pt-5">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                            <input type="text" id="name" name="name" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.name" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" id="email" name="email" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.email" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="seat_no" class="block text-sm font-medium text-gray-700">SeatNo</label>
                            <input type="text" id="seat_no" name="seat_no" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.seat_no" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="dob" class="block text-sm font-medium text-gray-700">DateOfBirth</label>
                            <input type="date" id="dob" name="dob" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.dob" class="text-red-600"></span>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Gender</label>
                            <div class="mt-1 flex pt-4">
                                <input type="radio" id="male" name="gender" value="1" class="mr-1" checked>
                                <label for="male" class="mr-4">Male</label>
                                <input type="radio" id="female" name="gender" value="0" class="mr-1">
                                <label for="female">Female</label>
                            </div>
                        </div>
                        <div>
                            <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
                            <select id="role" name="role" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <span x-text="errors.role" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="phone_1" class="block text-sm font-medium text-gray-700">PhNo1</label>
                            <input type="text" id="phone_1" name="phone_1" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.phone_1" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="phone_2" class="block text-sm font-medium text-gray-700">PhNo2</label>
                            <input type="text" id="phone_2" name="phone_2"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>

                        <div class="sm:col-span-2 mt-4">
                            <label for="memo" class="block text-sm font-medium text-gray-700">Memo</label>
                            <textarea id="memo" rows="2"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
                        </div>
                        <div class="sm:col-span-2 mt-4">
                            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                            <textarea id="address" rows="2" name="address" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
                            <span x-text="errors.address" class="text-red-600"></span>
                        </div>
                    </div>
                </div>

                <!-- Register Confirmation Modal -->
                <div id="ConfirmationModal"
                    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
                    <div class="bg-white p-5 rounded-lg w-full sm:w-1/3">
                        <h3 class="text-xl mb-4 text-gray-700">You Are Registered!</h3>
                        <div class="flex justify-end space-x-4">
                            <button id="confirmRegister" type="button"
                                class="text-white bg-gray-700 hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">OK</button>
                        </div>
                    </div>
                </div>

                <!-- Register and Cancel Buttons -->
                <div class="mt-4 flex justify-end w-full">
                    <button id="registerParticipant" type="submit"
                        class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2">Register</button>
                    <button id="cancelRegistration" type="button"
                        class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Edit Modal -->
    <div id="editModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
        <form class="bg-white p-5 rounded-lg w-full sm:w-2/3" x-data="editModal" x-clover-form="submit">
            {% csrf_token %}
            <div class="bg-blue-500 px-4 py-4">
                <h3 class="text-xl mb-4 text-white pt-3">Update Details</h3>
            </div>
            <div class="flex flex-wrap -mx-2">
                <!-- Image Container -->
                <div class="w-full sm:w-1/3 p-2 pt-5">
                    <div id="editimageContainer"
                        class="border border-gray-300 h-[400px] flex items-center justify-center">
                        <img id="editcapturedImage" class="h-full w-full object-cover"
                            src="{% static 'common/Rosie.jpg' %}">
                    </div>
                    <div class="mt-2 flex flex-col items-center space-y-2 py-7">
                        <button id="editCameraButton" @click="initCamera" type="button"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full">Camera</button>
                        <canvas id="editcaptureCanvas" class="hidden"></canvas>
                        <button id="editcaptureButton" type="button" name="profile"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="captureImage" :disabled="!isCameraReady">Capture</button>
                        <input type="file" id="editfileInput" name="editfileInput" accept="image/*" class="hidden"
                            x-ref="editfileInput" @change="uploadImage($event)">
                        <button type="button"
                            class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="triggerFileInput">Upload Image</button>
                        <button id="deleteEditImage" type="button"
                            class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 w-full"
                            @click="deleteEditImage">Delete Image</button>
                    </div>
                </div>

                <!-- Input Fields -->
                <div class="w-full sm:w-2/3 p-2 pt-5">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                            <input type="text" id="editname" name="editname" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.editname" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="editemail" class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" id="editemail" name="editemail" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.editemail" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="editseat_no"
                                class="block text-sm font-medium text-gray-700">ParticipantNo</label>
                            <input type="text" id="editseat_no" name="editseat_no" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.editseat_no" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="editdob" class="block text-sm font-medium text-gray-700">DateOfBirth</label>
                            <input type="date" id="editdob" name="editdob" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.editdob" class="text-red-600"></span>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Gender</label>
                            <div class="mt-1 flex pt-4">
                                <input type="radio" id="editmale" name="editgender" value="1" class="mr-1" checked>
                                <label for="editmale" class="mr-4">Male</label>
                                <input type="radio" id="editfemale" name="editgender" value="0" class="mr-1">
                                <label for="editfemale">Female</label>
                            </div>
                        </div>
                        <div>
                            <label for="editrole" class="block text-sm font-medium text-gray-700">Role</label>
                            <select id="editrole" name="editrole"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <span x-text="errors.editrole" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="editphone_1" class="block text-sm font-medium text-gray-700">PhNo1</label>
                            <input type="text" id="editphone_1" name="editphone_1" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                            <span x-text="errors.editphone_1" class="text-red-600"></span>
                        </div>
                        <div>
                            <label for="editphone_2" class="block text-sm font-medium text-gray-700">PhNo2</label>
                            <input type="text" id="editphone_2"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        </div>

                        <div class="sm:col-span-2 mt-4">
                            <label for="editmemo" class="block text-sm font-medium text-gray-700">Memo</label>
                            <textarea id="editmemo" rows="2"
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
                        </div>
                        <div class="sm:col-span-2 mt-4">
                            <label for="editaddress" class="block text-sm font-medium text-gray-700">Address</label>
                            <textarea id="editaddress" rows="2" name="editaddress" x-clover-verify
                                class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"></textarea>
                            <span x-text="errors.editaddress" class="text-red-600"></span>
                        </div>
                    </div>
                </div>

                <!-- Delete Confirmation Modal -->
                <div id="deleteConfirmationModal"
                    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50">
                    <div class="bg-white p-5 rounded-lg w-full sm:w-1/3">
                        <h3 class="text-xl mb-4 text-gray-700">Are you sure you want to delete your information?</h3>
                        <div class="flex justify-end space-x-4">
                            <button id="confirmDelete" type="button"
                                class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5"
                                @click="confirmDelete">Yes</button>
                            <button id="cancelDelete" type="button"
                                class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5"
                                @click="hideDeleteConfirmation">Cancel</button>
                        </div>
                    </div>
                </div>

                <!-- Edit and Cancel Buttons -->
                <div class="mt-4 flex justify-end w-full">
                    <button id="updateParticipant" type="submit"
                        class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2">Update</button>

                    <button id="deleteEdit" type="button"
                        class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2">Delete</button>

                    <button id="cancelEdit" type="button"
                        class="text-gray-700 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- Pagination Controls and Search Bar -->
<div class="flex justify-between items-center mb-4 px-5">
    <div class="flex items-center">
        <label for="pagination" class="mr-2 text-sm font-medium text-gray-700">Show:</label>
        <select id="pagination"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5"
            style="width: 200px;">
            <option value="10" {% if per_page is "10" %}selected{% endif %}>10</option>
            <option value="20" {% if per_page is "20" %}selected{% endif %}>20</option>
            <option value="50" {% if per_page is "50" %}selected{% endif %}>50</option>
        </select>
    </div>
    <div class="relative flex items-center mx-auto">
        <input type="text" id="search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pl-10"
            placeholder="Search by name">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M12.9 14.32a8 8 0 111.41-1.41l5.38 5.38a1 1 0 01-1.42 1.42l-5.37-5.39zM8 14A6 6 0 108 2a6 6 0 000 12z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <button
            class="ml-2 text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Search</button>
    </div>
    <div class="relative flex items-center mx-end">
        <button
            class="ml-2 text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Download
            CSV</button>
    </div>
</div>

<!-- Participants Table -->
<div class="overflow-x-auto relative shadow-md sm:rounded-lg px-5">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6 w-4"></th>
                <th scope="col" class="py-3 px-6">Participant ID</th>
                <th scope="col" class="py-3 px-6">Name</th>
                <th scope="col" class="py-3 px-6">Seat Number</th>
                <th scope="col" class="py-3 px-6">Date of Birth</th>
                <th scope="col" class="py-3 px-6">Phone Number</th>
                <th scope="col" class="py-3 px-6">Status</th>
            </tr>
        </thead>
        <tbody id="ptList">
            <!-- Loop through participants to generate rows -->
            {% for participant in page.object_list %}
            <tr class="bg-white border-b">
                <td class="py-4 px-6">
                    <button
                        class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 open-edit-modal"
                        data-participant-id="{{ participant.id }}">Details</button>
                </td>
                <td class="py-4 px-6">{{ participant.id }}</td>
                <td class="py-4 px-6 participant-name">{{ participant.name }}</td>
                <td class="py-4 px-6">{{ participant.seat_no }}</td>
                <td class="py-4 px-6">{{ participant.dob }}</td>
                <td class="py-4 px-6">{{ participant.phone_1 }}</td>
                <td class="py-4 px-6">{{ participant.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination Controls -->
<div class="flex justify-between items-center mt-4 px-5">
    <div class="text-sm text-gray-700">
        Showing <span class="font-medium">{{ page.start_index }}</span> to <span class="font-medium">{{page.end_index}}</span> of <span class="font-medium">{{ page.paginator.count }}</span> results
    </div>
    <nav aria-label="Page navigation">
        <ul class="inline-flex items-center -space-x-px">
            {% if page.has_previous %}
            <li>
                <button onclick="navigatePage('{{ page.previous_page_number }}')"
                    class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
                    <span class="sr-only">Previous</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M12.293 4.293a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L13 7.414V17a1 1 0 11-2 0V7.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </li>
            {% endif %}
            {% for num in page.paginator.page_range %}
            <li>
                <button onclick="navigatePage('{{ num }}')"
                    class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                    {{ num }}
                </button>
            </li>
            {% endfor %}
            {% if page.has_next %}
            <li>
                <button onclick="navigatePage('{{ page.next_page_number }}')"
                    class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">
                    <span class="sr-only">Next</span>
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M7.707 15.707a1 1 0 01-1.414-1.414L11.586 9 6.293 3.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>

<script>
    //Register Modal handling
    const openModalButton = document.getElementById('openModal');
    const closeModalButton = document.getElementById('cancelRegistration');
    const modal = document.getElementById('participantModal');

    openModalButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    closeModalButton.addEventListener('click', () => {
        modal.classList.add('hidden');
    });

    document.addEventListener('DOMContentLoaded', function () {
        const paginationSelect = document.getElementById('pagination');
        paginationSelect.value = "{{ per_page }}"; // Set initial value from Django template

        paginationSelect.addEventListener('change', function () {
            const perPage = paginationSelect.value;
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('per_page', perPage);
            window.location.search = urlParams.toString();
        });

        function navigatePage(pageNumber) {
            const perPage = paginationSelect.value;
            const url = `?page=${pageNumber}&per_page=${perPage}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    updateParticipantTable(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateParticipantTable(data) {
            const ptList = document.getElementById('ptList');
            ptList.innerHTML = ''; // Clear existing table rows

            data.participants.forEach(participant => {
                const tr = document.createElement('tr');
                tr.className = 'bg-white border-b';
                tr.innerHTML = `
                <td class="py-4 px-6">
                    <button class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 open-edit-modal"
                            data-participant-id="${participant.id}">Details</button>
                </td>
                <td class="py-4 px-6">${participant.id}</td>
                <td class="py-4 px-6 participant-name">${participant.name}</td>
                <td class="py-4 px-6">${participant.seat_no}</td>
                <td class="py-4 px-6">${participant.dob}</td>
                <td class="py-4 px-6">${participant.phone_1}</td>
                <td class="py-4 px-6">${participant.status}</td>
            `;
                ptList.appendChild(tr);
            });

            // Update pagination info
            const pageInfo = document.querySelector('.text-sm.text-gray-700');
            pageInfo.innerHTML = `
            Showing <span class="font-medium">${data.page.start_index}</span>
            to <span class="font-medium">${data.page.end_index}</span>
            of <span class="font-medium">${data.page.paginator.count}</span> results
        `;
        }

        // Event listeners for pagination buttons
        const paginationButtons = document.querySelectorAll('.pagination-button');
        paginationButtons.forEach(button => {
            button.addEventListener('click', function () {
                const pageNumber = button.dataset.pageNumber;
                navigatePage(pageNumber);
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const openEditButtons = document.querySelectorAll('.open-edit-modal');
        const editModal = document.getElementById('editModal');

        openEditButtons.forEach(button => {
            button.addEventListener('click', function () {
                const participantId = button.getAttribute('data-participant-id');
                window.currentParticipantId = participantId
                if (!participantId) {
                    console.error('Participant ID attribute is missing or invalid.');
                    return;
                }

                console.log('Participant ID:', participantId);

                const url = `/participant/get_participant_data/${participantId}/`;

                fetch(url)
                    .then(async response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Fetched data:', data);

                        document.getElementById('editname').value = data.name || '';
                        document.getElementById('editemail').value = data.email || '';
                        document.getElementById('editseat_no').value = data.seat_no || '';
                        document.getElementById('editdob').value = data.dob || '';
                        document.getElementById('editphone_1').value = data.phone_1 || '';
                        document.getElementById('editphone_2').value = data.phone_2 || '';
                        document.getElementById('editmemo').value = data.memo || '';
                        document.getElementById('editaddress').value = data.address || '';
                        document.getElementById('editrole').value = data.role || '';

                        if (data.gender === 'male') {
                            document.getElementById('male').checked = true;
                        } else if (data.gender === 'female') {
                            document.getElementById('female').checked = true;
                        } else {
                            document.getElementById('male').checked = false;
                            document.getElementById('female').checked = false;
                        }

                        const editImgContainer = document.getElementById('editimageContainer');
                        editImgContainer.innerHTML = '';
                        if (data.image_data) {
                            const img = document.createElement('img');
                            img.src = `data:image/jpeg;base64,${data.image_data}`;
                            img.classList.add('h-full', 'w-full', 'object-cover');
                            editImgContainer.appendChild(img);
                        }

                        editModal.classList.remove('hidden');
                    })
                    .catch(error => console.error('Error fetching participant data:', error));
            });
        });

        const cancelEditButton = document.getElementById('cancelEdit');
        if (cancelEditButton) {
            cancelEditButton.addEventListener('click', function () {
                editModal.classList.add('hidden');
            });
        }

        const openParticipantButtons = document.querySelectorAll('.open-participant-modal');
        const participantModal = document.getElementById('participantModal');

        openParticipantButtons.forEach(button => {
            button.addEventListener('click', function () {
                participantModal.classList.remove('hidden');
            });
        });

        const cancelParticipantButton = document.getElementById('cancelRegistration');
        if (cancelParticipantButton) {
            cancelParticipantButton.addEventListener('click', function () {
                participantModal.classList.add('hidden');
            });
        }
    });

    // Image preview handling
    const imageContainer = document.getElementById('imageContainer');
    const editimageContainer = document.getElementById('editimageContainer');

    document.addEventListener("alpine:init", () => {
        Alpine.data("participantModal", () => ({
            webcamStream: null,
            videoElement: null,
            captureCanvas: null,
            isCameraReady: false,
            rule: {
                name: [Clover.rule.required()],
                email: [Clover.rule.mail()],
                seat_no: [Clover.rule.required(), Clover.rule.number()],
                dob: [Clover.rule.required()],
                role: [Clover.rule.required()],
                phone_1: [Clover.rule.required()],
                address: [Clover.rule.required()],
            },
            errors: {},
            async submit() {
                const form = this.$el
                const formData = new FormData(form)
                const eventDropdown = document.getElementById('events')

                // Check if eventDropdown exists and append its value
                if (eventDropdown && eventDropdown.value) {
                    formData.append("event", eventDropdown.value)
                } else {
                    this.errors.event = "Event is required"
                    return
                }

                if (!Object.keys(this.errors).length) {
                    try {
                        const res = await fetch("", {
                            method: "POST",
                            body: formData,
                        })

                        if (!res.ok) {
                            throw res
                        }

                        const response = await res.json()
                        if (response.status === 'success') {
                            // window.location.href = ""
                            this.showConfirmation()
                        } else {
                            console.log(response.message)
                        }

                    } catch (error) {
                        console.log(error)
                    }

                } else {
                    console.log(this.errors)
                }
            },

            initCamera() {
                this.videoElement = document.createElement('video');
                this.captureCanvas = document.getElementById('captureCanvas');
                const imageContainer = document.getElementById('imageContainer');
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        this.webcamStream = stream;
                        this.videoElement.srcObject = stream;
                        this.videoElement.play();
                        this.isCameraReady = true;

                        imageContainer.innerHTML = '';
                        imageContainer.appendChild(this.videoElement);
                    })
                    .catch(err => {
                        console.error('Error accessing webcam:', err);
                    });
            },

            captureImage() {
                if (this.isCameraReady) {
                    const context = this.captureCanvas.getContext('2d');
                    this.captureCanvas.width = this.videoElement.videoWidth;
                    this.captureCanvas.height = this.videoElement.videoHeight;
                    context.drawImage(this.videoElement, 0, 0, this.captureCanvas.width, this.captureCanvas.height);

                    // Convert canvas image to Blob
                    this.captureCanvas.toBlob(blob => {
                        const file = new File([blob], 'captured_image.jpeg', { type: 'image/jpeg' });

                        const fileList = new DataTransfer();
                        fileList.items.add(file);

                        const fileInput = document.getElementById('fileInput');
                        fileInput.files = fileList.files;

                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(file);
                        img.classList.add('h-full', 'w-full', 'object-cover');
                        document.getElementById('imageContainer').innerHTML = '';
                        document.getElementById('imageContainer').appendChild(img);

                        this.stopCamera();
                    }, 'image/jpg');
                }
            },

            stopCamera() {
                if (this.webcamStream) {
                    this.webcamStream.getTracks().forEach(track => track.stop());
                    this.videoElement.srcObject = null;
                    this.webcamStream = null;
                    this.isCameraReady = false;
                }
            },

            uploadImage(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                reader.onload = () => {
                    const img = document.createElement('img');
                    img.src = reader.result;
                    img.classList.add('h-full', 'w-full', 'object-cover');
                    document.getElementById('imageContainer').innerHTML = '';
                    document.getElementById('imageContainer').appendChild(img);
                };

                reader.readAsDataURL(file);
            },

            triggerFileInput() {
                if (this.$refs.fileInput) {
                    this.$refs.fileInput.click();
                } else {
                    console.error('File input element not found.');
                }
            },

            deleteImage() {
                const imgContainer = document.getElementById('imageContainer');
                imgContainer.innerHTML = '';
                const image = new Image()
                image.src = "/public/common/Rosie.jpg"
                imageContainer.appendChild(image)

            },

            showConfirmation() {
                document.getElementById('ConfirmationModal').classList.remove('hidden');
            },
            hideConfirmation() {
                document.getElementById('ConfirmationModal').classList.add('hidden');
            },
            confirmRegister() {
                this.hideConfirmation();
                window.location.href = "/participant";
            },
            init() {
                document.getElementById('confirmRegister').addEventListener('click', this.confirmRegister.bind(this));
            }

        }))

        Alpine.data("editModal", () => ({
            webcamStream: null,
            videoElement: null,
            captureCanvas: null,
            isCameraReady: false,
            rule: {
                editname: [Clover.rule.required()],
                editemail: [Clover.rule.mail()],
                editseat_no: [Clover.rule.required()],
                editdob: [Clover.rule.required()],
                editrole: [Clover.rule.required()],
                editphone_1: [Clover.rule.required()],
                editaddress: [Clover.rule.required()],
            },
            errors: {

            },
            async submit() {
                const form = this.$el
                const formData = new FormData(form)
                const eventDropdown = document.getElementById('events')

                // Check if eventDropdown exists and append its value
                if (eventDropdown && eventDropdown.value) {
                    formData.append("event", eventDropdown.value)
                } else {
                    this.errors.event = "Event is required"
                    return
                }

                if (!Object.keys(this.errors).length) {
                    try {
                        const res = await fetch(`participant/update/${currentParticipantId}/`, {
                            method: "POST",
                            body: formData,
                        })

                        if (!res.ok) {
                            throw res
                        }

                        const response = await res.json()
                        if (response.status === 'success') {
                            alert("Your Information is Updated!")
                            window.location.href = "/participant"
                        } else {
                            console.log(response.message)
                        }

                    } catch (error) {
                        console.log(error)
                    }

                } else {
                    console.log(this.errors)
                }
            },

            showConfirmation() {
                document.getElementById('ConfirmationModal').classList.remove('hidden');
            },

            initCamera() {
                this.videoElement = document.createElement('video');
                this.captureCanvas = document.getElementById('editcaptureCanvas');
                const editimageContainer = document.getElementById('editimageContainer');
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        this.webcamStream = stream;
                        this.videoElement.srcObject = stream;
                        this.videoElement.play();
                        this.isCameraReady = true;

                        editimageContainer.innerHTML = '';
                        editimageContainer.appendChild(this.videoElement);
                    })
                    .catch(err => {
                        console.error('Error accessing webcam:', err);
                    });
            },

            captureImage() {
                if (this.isCameraReady) {
                    const context = this.captureCanvas.getContext('2d');
                    this.captureCanvas.width = this.videoElement.videoWidth;
                    this.captureCanvas.height = this.videoElement.videoHeight;
                    context.drawImage(this.videoElement, 0, 0, this.captureCanvas.width, this.captureCanvas.height);

                    // Convert canvas image to Blob
                    this.captureCanvas.toBlob(blob => {
                        const file = new File([blob], 'captured_image.jpeg', { type: 'image/jpeg' });

                        const fileList = new DataTransfer();
                        fileList.items.add(file);

                        const editfileInput = document.getElementById('editfileInput');
                        editfileInput.files = fileList.files;

                        const img = document.createElement('img');
                        img.src = URL.createObjectURL(file);
                        img.classList.add('h-full', 'w-full', 'object-cover');
                        document.getElementById('editimageContainer').innerHTML = '';
                        document.getElementById('editimageContainer').appendChild(img);

                        this.stopCamera();
                    }, 'image/jpg');

                    this.stopCamera();
                }
            },

            stopCamera() {
                if (this.webcamStream) {
                    this.webcamStream.getTracks().forEach(track => track.stop());
                    this.videoElement.srcObject = null;
                    this.webcamStream = null;
                    this.isCameraReady = false;
                }
            },

            uploadImage(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                reader.onload = () => {
                    const img = document.createElement('img');
                    img.src = reader.result;
                    img.classList.add('h-full', 'w-full', 'object-cover');
                    document.getElementById('editimageContainer').innerHTML = '';
                    document.getElementById('editimageContainer').appendChild(img);
                };

                reader.readAsDataURL(file);
            },

            triggerFileInput() {
                if (this.$refs.editfileInput) {
                    this.$refs.editfileInput.click();
                } else {
                    console.error('File input element not found.');
                }
            },

            deleteEditImage() {
                const editImgContainer = document.getElementById('editimageContainer');
                editImgContainer.innerHTML = '';
                const image = new Image()
                image.src = "/public/common/Rosie.jpg"
                editImgContainer.appendChild(image)
            },

            showDeleteConfirmation() {
                document.getElementById('deleteConfirmationModal').classList.remove('hidden');
            },

            hideDeleteConfirmation() {
                document.getElementById('deleteConfirmationModal').classList.add('hidden');
            },

            confirmDelete(participantId) {
                this.hideDeleteConfirmation();

                const url = `/participant/delete/${window.currentParticipantId}/`;

                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token  }}"
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        window.location.href = "/participant";
                    })
                    .catch(error => {
                        console.error('Error deleting participant:', error);
                    });
            },
            init() {
                document.getElementById('deleteEdit').addEventListener('click', this.showDeleteConfirmation.bind(this));
                document.getElementById('confirmDelete').addEventListener('click', this.confirmDelete.bind(this));
                document.getElementById('cancelDelete').addEventListener('click', this.hideDeleteConfirmation.bind(this));
            }



        }))

        const searchInput = document.getElementById('search');

        searchInput.addEventListener('input', function () {
            const searchTerm = searchInput.value.toLowerCase();
            const ptRows = document.querySelectorAll('#ptList tr');

            ptRows.forEach(row => {
                const ptName = row.querySelector('.participant-name');
                const ptID = row.querySelector('td:nth-child(4)');

                if (ptName && ptID) {
                    const ptNameText = ptName.textContent.toLowerCase();
                    const ptIdText = ptID.textContent.toLowerCase();
                    if (ptNameText.includes(searchTerm) || ptIdText.includes(searchTerm)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                }
            });
        });
    })

</script>

{% endblock %}