{% extends 'dashboard/master.html' %}
{% load static %}
{% block page_en %}
Attendance
{% endblock page_en %}
{% block page_jp %}
出席
{% endblock page_jp %}
{% block content %}

<div class="p-2" x-data="data">
    <div id="event-modal" tabindex="-1" aria-hidden="true" 
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" @click.outside="event = ''">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        イベントリスト
                    </h3>
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="event-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class=" bg-white p-5">
                    <div class="relative w-full">
                        <div class="absolute   inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>
                        </div>
                        <input autocomplete="off" x-model="event" type="search" name="event-search"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="イベント名を検索する..." />
                    </div>
                    <div class="border mt-3 rounded-lg">
                        <ul class="h-[200px] overflow-y-scroll">
                            <li @click="handleEventSelect" data-id=""
                                class="hover:text-gray-500 cursor-pointer hover:bg-gray-100 p-2 w-full">All</li>
                            <template x-for="event in computeEvent" :key="event.id">
                                <li @click="handleEventSelect" x-bind:data-id="event.id"
                                    class="hover:text-gray-500 cursor-pointer hover:bg-gray-100 p-2 w-full"
                                    x-text="event.name"></li>
                            </template>
                        </ul>
                    </div>
                </div>
                <!-- Modal footer -->
                <div
                    class="flex items-center justify-end p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button x-ref="hideEventSearch" data-modal-hide="event-modal" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
    <form x-bind:action="edit.id" method="post" @submit.prevent="handleUpdate">
        {% csrf_token %}
        <button type="button" x-ref="modalButton" hidden data-modal-target="update-modal"
            data-modal-toggle="update-modal"></button>
        <div id="update-modal" tabindex="-1" aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div
                        class="flex items-center bg-blue-500 justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl  font-semibold text-white dark:text-white">
                            詳細
                        </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="update-modal">
                            <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <div class="flex gap-3 justify-center items-center">
                            <label for="name" class="w-[12%]">名前</label>
                            <input x-bind:value="edit.participant?.name" readonly type="text"
                                class="bg-gray-50 border pointer-events-none  w-2/3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="John" required />
                        </div>
                        <div class="flex gap-3 justify-center items-center">
                            <label for="date" class="w-[12%]">日々</label>
                            <input x-bind:value="edit.date" readonly type="text"
                                class="bg-gray-50 border pointer-events-none w-2/3 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="John" required />
                        </div>
                        <div class="flex gap-3 justify-center items-center">
                            <span class="w-[12%]">入退館-1</span>
                            <div class="w-2/3 flex justify-center items-start gap-5">
                                <div class="flex-1">
                                    <input type="text" name="entry_1"
                                        class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="入館" />
                                    <span class="text-sm text-red-500" x-text="errors.entry_1"></span>
                                </div>
                                <div class="flex-1">
                                    <input type="text" name="leave_1"
                                        class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="退館" />
                                    <span class="text-sm text-red-500" x-text="errors.leave_1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-3 justify-center items-center">
                            <span class="w-[12%]">入退館-2</span>
                            <div class="w-2/3 flex justify-center items-start gap-5">
                                <div class="flex-1">
                                    <input type="text" name="entry_2"
                                        class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="入館" />
                                    <span data-form-error class="text-sm text-red-500" x-text="errors.entry_2"></span>
                                </div>
                                <div class="flex-1">
                                    <input type="text" name="leave_2"
                                        class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="退館" />
                                    <span data-form-error class="text-sm text-red-500" x-text="errors.leave_2"></span>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-3 justify-center items-center">
                            <label for="memo" class="w-[12%]">メモ</label>
                            <textarea name="memo" rows="5"
                                class="block p-2.5 w-2/3 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="ここにメモを書いてください"></textarea>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div
                        class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button type="submit"
                            class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-500 dark:focus:ring-blue-800">保存</button>
                        <button data-modal-hide="update-modal" type="button"
                            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            カネル</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div>
        <div class="grid grid-cols-6 gap-5">
            <div class="col-span-2">
                <label for="event" class="font-bold text-sm">日々</label>
                <input placeholder="イベントを選択してください" data-modal-toggle="event-modal" data-modal-target="event-modal"
                    x-ref="eventSearch" type="text" name="event" readonly value="All"
                    class="bg-gray-50 border border-gray-300 text-gray-900  cursor-pointer text-sm rounded-lg focus:ring-0  focus:shadow-none focus:outline-none focus:border-gray-300 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                <!-- <div class="relative">
                    <div x-show="eventSearch" x-cloak x-transition:enter.duration.500ms
                        x-transition:leave.duration.400ms
                        class="absolute shadow-md bg-white border z-50  border-gray-300 rounded-lg top-[5px] left-0 right-0 p-5">
                        <div class="relative w-full">
                            <div class="absolute   inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor"
                                    class="w-4 h-4 text-gray-500 dark:text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </div>
                            <input autocomplete="off" x-model="event" type="text" name="event-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search branch name..." />
                        </div>
                        <ul class="h-[150px] overflow-y-scroll mt-3">
                            <li @click="handleEventSelect" id=""
                                class="hover:text-gray-500 cursor-pointer hover:bg-gray-100 p-2 w-full">All</li>
                            <template x-for="event in computeEvent" :key="event.id">
                                <li @click="handleEventSelect" x-bind:id="event.id"
                                    class="hover:text-gray-500 cursor-pointer hover:bg-gray-100 p-2 w-full"
                                    x-text="event.name"></li>
                            </template>
                        </ul>
                    </div>
                </div> -->
                <!-- <label for="event" class="font-bold text-sm">イベント</label>
                <select id="event" name="event" @change="handleChange"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="" selected>イベントを選択してください</option>
                    {% for event in events %}
                    {% if event.id|stringformat:"s" == request.GET.event %}
                    <option selected value="{{event.id}}">
                        {{event.name}}</option>
                    {% else %}
                    <option value="{{event.id}}">
                        {{event.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select> -->
            </div>
            <div class="col-span-2">
                <label for="date-range" class="font-bold text-sm">日々</label>
                <input type="text" id="date-range" name="date" readonly value="{{request.GET.date}}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div class="col-span-2">
                <label for="name" class="text-sm font-bold">名前</label>
                <div class="relative w-full">
                    <input type="search" id="location-search" name="name" value="{{request.GET.name}}"
                        placeholder="参加者名を入力してください" @input.debounce.500ms="handleChange"
                        class="block p-2.5 rounded-lg w-full z-20 text-sm text-gray-900 bg-gray-50  border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" />
                    <button type="button" @click="handleSubmit"
                        class="absolute top-0 end-0 h-full px-5 py-2.5 text-sm font-medium text-white bg-blue-500 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                        検索
                    </button>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center mt-5">
            <div class="flex flex-1 items-center text-sm">
                <select id="pagination" name="limit" @change="limit = Number($el.value)"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                <label for="pagination" class="ml-3 font-bold">ページを表示</label>
            </div>
            <div class="flex flex-1 items-center justify-end gap-2">
                <label for="search" class="font-bold text-sm">検索</label>
                <input type="text" @input.debounce.500ms="search = $el.value" id="search" name="search"
                    placeholder="欲しいものを検索してください"
                    class="bg-gray-50 border w-[30%] border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="relative overflow-x-auto  sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs  text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="py-3 font-bold">
                        </th>
                        <th scope="col" class="px-6 py-3 ">
                            <div class="flex items-center">
                                日々
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="date">
                                    <svg :class="{'text-gray-400': sort === 'date'}" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke-width="5" stroke="currentColor"
                                        class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-date'}" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke-width="5" stroke="currentColor"
                                        class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                名前
                                <div class="flex flex-col">
                                    <button class="flex flex-col ml-2" @click="handleSort" data-sort="name">
                                        <svg :class="{'text-gray-400': sort === 'name'}"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                        </svg>
                                        <svg :class="{'text-gray-400': sort === '-name'}"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                入館-1
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="entry_1">
                                    <svg :class="{'text-gray-400': sort === 'entry_1'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-entry_1'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                退館-1
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="leave_1">
                                    <svg :class="{'text-gray-400': sort === 'leave_1'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-leave_1'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                入館-2
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="entry_2">
                                    <svg :class="{'text-gray-400': sort === 'entry_2'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-entry_2'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                退館-2
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="leave_2">
                                    <svg :class="{'text-gray-400': sort === 'leave_2'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-leave_2'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                状態
                                <button class="flex flex-col ml-2" @click="handleSort" data-sort="status">
                                    <svg :class="{'text-gray-400': sort === 'status'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                                    </svg>
                                    <svg :class="{'text-gray-400': sort === '-status'}"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="5" stroke="currentColor" class="size-[0.5rem]">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <template x-for="attendance in computeAttendances" :key="attendance.id">
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <button type="button" @click="showModal(attendance.id)"
                                    class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-500 dark:focus:ring-blue-800">詳細</button>
                            </th>
                            <td class="px-6 py-4" x-text="attendance.date">

                            </td>
                            <td class="px-6 py-4" x-text="attendance.participant.name">

                            </td>
                            <td class="px-6 py-4" x-text="attendance.entry_1 || 'N/A'">

                            </td>
                            <td class="px-6 py-4" x-text="attendance.leave_1 || 'N/A'">

                            </td>
                            <td class="px-6 py-4" x-text="attendance.entry_2 || 'N/A'">

                            </td>
                            <td class="px-6 py-4" x-text="attendance.leave_2 || 'N/A'">

                            </td>
                            <td class="px-6 py-4">
                                <span x-show="attendance.status === 1"
                                    class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">完了</span>
                                <span x-show="!attendance.status"
                                    class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">未完了</span>
                            </td>
                        </tr>

                    </template>
                    <tr x-show="!totalPage" class="px-6 py-4 bg-gray-100">
                        <td colspan="100%" class="text-center py-2 text-[1rem] text-gray-500">
                            空のデータ
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center mt-3 px-2" x-show="totalPage">
            <div>
                <span x-text="showResult" class="text-gray-500 text-sm"></span>
            </div>
            <div>
                <div class="flex">
                    <!-- Previous Button -->
                    <button @click="pageNumber--" x-bind:class="{'pointer-events-none': pageNumber === 0}"
                        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Previous
                    </button>

                    <!-- Next Button -->
                    <button @click="pageNumber++" x-bind:class="{'pointer-events-none': pageNumber >= totalPage - 1}"
                        class="flex items-center justify-center px-3 h-8 ms-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data("data", () => ({
            events: JSON.parse("{{eventsJson|safe|escapejs}}" || "[]"),
            event: "",
            newUrl: "",
            fetcher: false,
            updating: false,
            edit: {},
            errors: {},
            search: '',
            attendances: [],
            sort: '',
            limit: 10,
            pageNumber: Number('{{request.GET.page}}'),
            total: 0,
            handleSort() {
                const el = this.$el
                const sort = el.dataset.sort
                if (sort === this.sort) {
                    this.sort = `-${sort}`
                } else {
                    this.sort = sort
                }
            },
            get showResult() {
                const from = this.pageNumber * this.limit + 1
                const to = from + this.limit
                return `showing ${from} to ${to >= this.total ? this.total : to} of ${this.total} result`
            },
            parseJapaneseDate(japaneseDate) {
                const [year, month, day] = japaneseDate.replace(/[年月日]/g, '/').split('/');
                return new Date(year, month - 1, day);
            },
            formatEnglishDate(date) {
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}/${month}/${day}`;
            },
            init() {
                const alpineData = this
                const button = {
                    content: '現在の日付',
                    className: 'custom-button-classname',
                    onClick: (dp) => {
                        let date = new Date();
                        dp.selectDate(date);
                        dp.setViewDate(date);
                    }
                }
                const selectDate = "{{request.GET.date}}"
                const selectedDates = "{{request.GET.date}}".includes(",") ? selectDate.split(",").map(d => new Date(d)) :
                    selectDate ? [new Date(selectDate)] : [new Date(this.firstDateOfCurrentMonth())]


                new AirDatepicker('#date-range', {
                    starDate: selectedDates[0],
                    locale: localeJa,
                    buttons: [button, "clear"],
                    range: true,
                    multipleDates: true,
                    onSelect: function (picker) {
                        const formatDate = picker.formattedDate.map(d => {
                            return alpineData.formatEnglishDate(alpineData.parseJapaneseDate(d))
                        }).join(",")

                        alpineData.updateUrl({
                            name: "date", value: formatDate
                        })
                    },
                    selectedDates,
                    dateFormat(date) {
                        return date.map(d => (d.toLocaleString('ja', {
                            year: 'numeric',
                            day: '2-digit',
                            month: 'long'
                        })));
                    }
                });
                this.fetchData()
            },
            get computeEvent() {
                if (!this.event) return this.events
                return this.events.filter(ev => ev.name.toLowerCase().includes(this.event.toLowerCase()))
            },
            get computeAttendances() {
                const start = this.pageNumber * this.limit
                const end = start + this.limit
                const search = this.search?.toLowerCase()
                let attendances = this.attendances

                if (search) {
                    attendances = attendances.filter((att) => {
                        return att.participant.name?.toLowerCase().includes(search) ||
                            att.date?.toLowerCase().includes(search) ||
                            att.entry_1?.toLowerCase().includes(search) ||
                            att.leave_1?.toLowerCase().includes(search) ||
                            att.entry_2?.toLowerCase().includes(search) ||
                            att.leave_2?.toLowerCase().includes(search)
                    })
                }

                this.total = attendances.length

                if (this.sort) {
                    const sortBy = this.sort.includes("-") ? "desc" : "asc"
                    const key = this.sort.replace("-", "")
                    attendances = attendances.sort((a, b) => {
                        const valueA = key === "name" ? a["participant"]["name"] : a[key];
                        const valueB = key === "name" ? b["participant"]["name"] : b[key];
                        const comparison = `${valueA}`.localeCompare(`${valueB}`)
                        return sortBy === "asc" ? comparison : -comparison
                    })
                }

                return attendances.slice(start, end)
            },
            handleChange() {
                const el = this.$el
                const name = el.getAttribute("name")
                const value = el.value
                this.updateUrl({ name, value })
            },
            handleEventSelect() {
                this.$refs.eventSearch.value = this.$el.innerText;
                this.updateUrl({ name: "event", value: this.$el.dataset.id })
                this.$refs.hideEventSearch.click()
            },
            updateUrl({ name, value }) {
                const url = new URL(window.location.href)
                url.searchParams.set(name, value)
                const newUrl = url.toString()
                this.newUrl = newUrl

            },
            get totalPage() {
                return Math.ceil(this.total / this.limit)
            },
            handleSubmit() {
                this.search = ""
                this.pageNumber = 0
                const fetcherToast = Toastify({
                    text: "検索するまでしばらくお待ちください....",
                    duration: -1,
                    gravity: "top",
                    position: "center",
                    style: {
                        background: "#00b4d8",
                        fontSize: '25px',
                        borderRadius: "5px"
                    },
                })
                if (!this.fetcher) {
                    fetcherToast.showToast()
                    this.fetcher = true
                    window.history.pushState({ path: this.newUrl }, '', this.newUrl)
                    setTimeout(() => {
                        this.fetchData().then(() => {
                            fetcherToast.hideToast()
                            this.fetcher = false
                        })
                    }, 1000)
                }
            },
            async fetchData() {
                try {
                    const res = await fetch(this.newUrl, {
                        headers: {
                            "Accept": "application/json"
                        }
                    })

                    if (!res.ok) {
                        throw Error("Data fetching Fail")
                    }

                    const data = await res.json()

                    this.attendances = data.attendances
                    this.total = this.attendances.length

                } catch (error) {
                    Toastify({
                        text: "データの取得に失敗する.",
                        duration: 2000,
                        gravity: "top",
                        position: "center",
                        style: {
                            background: "#06d6a0",
                            fontSize: '25px',
                            borderRadius: "5px"
                        },
                    }).showToast();
                }
            },
            showModal(id) {
                const attendance = this.attendances.find(att => att.id === id)
                this.edit = attendance
                this.$refs.modalButton.click()
            },
            firstDateOfCurrentMonth() {
                const now = new Date();
                const year = now.getFullYear();
                const month = String(now.getMonth() + 1).padStart(2, '0');
                const day = '01';
                return `${year}/${month}/${day}`
            },
            async handleUpdate() {

                if (!this.updating) {
                    this.updating = true
                    const formData = new FormData(this.$el)

                    const time = [
                        this.$el.elements["entry_1"],
                        this.$el.elements["leave_1"],
                        this.$el.elements["entry_2"],
                        this.$el.elements["leave_2"],
                    ]
                    const timePattern = /^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/;

                    time.forEach(function (el) {
                        if (el.value && !timePattern.test(el.value)) {
                            this.errors[el.getAttribute("name")] = "無効な時刻形式"
                        }
                    }.bind(this))

                    if (time[0].value && time[1].value) {
                        const e1 = time[0].value.split(":").map(Number)
                        const l1 = time[1].value.split(":").map(Number)

                        if (new Date().setHours(...e1, 0) >= new Date().setHours(...l1, 0)) {
                            this.errors[time[0].getAttribute("name")] = "無効な時刻形式"
                        }
                    }


                    if (time[2].value && time[3].value) {
                        const e2 = time[2].value.split(":").map(Number)
                        const l2 = time[3].value.split(":").map(Number)

                        if (new Date().setHours(...e2, 0) >= new Date().setHours(...l2, 0)) {
                            this.errors[time[2].getAttribute("name")] = "無効な時刻形式"
                        }
                    }

                    if (!Object.keys(this.errors).length) {
                        try {
                            const res = await fetch(`/attendance/${this.edit.id}/`, {
                                method: "POST",
                                headers: {
                                    "Accept": "application/json"
                                },
                                body: formData
                            })

                            if (!res.ok) {
                                throw Error("Data updating Fail")
                            }

                            const data = await res.json()
                            if (data.attendance) {
                                const index = ~this.attendances.findIndex(att => att.id === data.attendance.id)
                                if (index) {
                                    this.attendances[index] = data.attendance
                                    Toastify({
                                        text: "出席状況を更新しました.",
                                        duration: 2000,
                                        gravity: "top",
                                        position: "center",
                                        style: {
                                            background: "#06d6a0",
                                            fontSize: '25px',
                                            borderRadius: "5px"
                                        },
                                    }).showToast();
                                    this.$refs.modalButton.click()
                                }
                            }

                        } catch (error) {
                            Toastify({
                                text: "更新に失敗しました.",
                                duration: 2000,
                                gravity: "top",
                                position: "center",
                                style: {
                                    background: "#e63946",
                                    fontSize: '25px',
                                    borderRadius: "5px"
                                },
                            }).showToast();
                        } finally {
                            this.updating = false
                        }
                    }
                }
            }
        }))
    })
</script>
{% endblock script %}

{% endblock content %}